.menuItemsList {
    padding: 0 20px;
}

.menuItem {
    padding: 12px 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 12px;
    color: var(--gray99);
}

.menuItem > svg {
    margin-right: 7px;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: var(--grayEC);
}